<html>

<head>
  <title>Need-based Micro-Services + SignalR Demo</title>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">

  <style>
    .slide-fade-enter-active, .slide-fade-leave-active {
      transition: all .5s ease;
    }

    .slide-fade-enter, .slide-fade-leave-to {
      height: 0;
      overflow-y: hidden;
      opacity: 0;
    }
  </style>
</head>

<body>
  <p>&nbsp;</p>
  <div id="app" class="container">
    <h3>Customer Service Contact Options</h3>
    <div class="row">
      <nav class="col-sm" id="navigation">
        <a href="/">Home</a> | <a href="customerservice.html">Contact Us</a>
      </nav>
    </div>
    <div class="row">
      <div class="col-sm" id="currentDateTime"></div>
    </div>
    <div class="row" v-if="!ready">
      <div class="col-sm">
        <div>Loading...</div>
      </div>
    </div>
    <div v-if="ready">
      <transition-group name="slide-fade" tag="div">
        <div class="row" v-for="contactOption in contactOptions" v-bind:key="contactOption.id">
          <div class="col-sm">
            <hr />
            <div>
              <div style="display: inline-block; padding-left: 12px;">
                <div>
                  <p>
                    <span class="text-info small"><strong>{{ contactOption.Results[0].sourceOperation }}</strong></span>
                    <span class="text-info small" v-if="!contactOption.Results[0].open">Sorry, this service is closed.</span>
                    <span class="text-info small" v-if="contactOption.Results[0].open">Yes, this service is open!</span>
                    <br />

                    <span class="text-info small" v-if="contactOption.Results[0].open && contactOption.Results[0].url"><a class="text-primary" v-bind:href="contactOption.Results[0].url">Chat with a Representative</a> </span>
                    <span class="text-info small" v-if="contactOption.Results[0].open && contactOption.Results[0].email"><a class="text-primary" v-on:click="mailTo(contactOption.Results[0].email)">Email Us</a> </span>
                    <!--<span class="text-info small" v-if="contactOption.Results[0].open && contactOption.Results[0].phoneNumber">Call Us at {{ contactOption.Results[0].phoneNumber }} </span>
                    <span class="text-info small" v-if="contactOption.Results[0].open && contactOption.Results[0].headquartersAddress">Visit Us at {{ contactOption.Results[0].headquartersAddress.streetAddress1 }}, {{ contactOption.Results[0].headquartersAddress.city }}, {{ contactOption.Results[0].headquartersAddress.state }} {{ contactOption.Results[0].headquartersAddress.zipCode }}</span>-->

                    <div class="text-info small" v-if="!contactOption.Results[0].open">Hours of operation:</div>
                    <div class="" v-if="!contactOption.Results[0].open" v-for="hours in contactOption.Results[0].hours.OpenHours" v-bind:key="hours.id">
                      <span class="text-info small">{{ daysOfWeek[hours.DayOfWeek] }}</span>
                      <span class="text-info small" v-if="hours.OpenTime === hours.CloseTime">Closed</span>
                      <span class="text-info small" v-if="hours.OpenTime !== hours.CloseTime">{{ new Date("1970-01-01T" + hours.OpenTime + "Z").toLocaleTimeString() }} to {{ new Date("1970-01-01T" + hours.CloseTime + "Z").toLocaleTimeString() }}</span>
                    </div>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition-group>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.1.2/dist/browser/signalr.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>

<script>
  const data = {
    contactOptions: [],
    daysOfWeek: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
    ready: false
  };

  const app = new Vue({
    el: '#app',
    data: data,
    methods: {
      mailTo
    }
  });

  function mailTo(email) {
    document.location.href = "mailto:" + email;
  };;
  const connection = new signalR.HubConnectionBuilder()
    .withUrl('http://localhost:7071/api')
    .configureLogging(signalR.LogLevel.Information)
    .build();

  connection.on('customerServiceNeed', customerServiceNeed);
  connection.onclose(() => console.log('disconnected'));

  console.log('connecting...');
  connection.start()
    .then(() => data.ready = true)
    .catch(console.error);

  let counter = 0;

  function customerServiceNeed(fulfilledNeed) {
    const fulfilledNeedObject = JSON.parse(fulfilledNeed);

    fulfilledNeedObject.id = counter++; // vue transitions need an id
    data.contactOptions.unshift(fulfilledNeedObject);
  }

  $(document).ready(function () {
    $.ajax("http://localhost:7071/api/customer/222/customerservice/contact");

    $("#currentDateTime").text((new Date()));

  });
</script>
</body>

</html>